/* Card */
.card-header {
    font-weight: 500;
    font-size: 46px;
    text-align: center;
    margin-bottom: 1cm;
}

.card-body {
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

/* Card End */

/* Search form & button */
.form-control {
    border-radius: 100px;
    border-color: black;
    width: 35%;
    height: 2.5vh;
}

.search-btn {
    width: 8vh;
    height: 3vh;
    background-color: rgb(190, 255, 255);
    color: black;
    border: none;
    border-radius: 100px;
}

.search-btn:hover {
    background-color: deepskyblue;
    color: white;
}
/* END */