form {
	margin-top: 3em;
	text-align: center;
	width: 100%;
}

label {
	display: block;
	margin-top: 15px;
}

h2 {
	text-align: center;
	font-weight: 600;
	font-size: 36px;
	margin-bottom: 5px;
}

#signuperr {
	text-align: center;
	font-weight: 400;
	font-size: 26;
	margin-bottom: 20px;
	color: rgb(184, 0, 0);
}

input#full-name,
input#name,
input#email,
input#password,
select,
input#birthday {
	border: none;
	border-bottom: black solid 0.5px;
	width: 35%;
}

option:hover {
	background-color: darkslategrey;
}

#photo {
	display: none;
}

.photo {
	display: inline-block;
	padding: 8px 12px;
	background-color: green;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.photo:hover {
	background-color: rgb(0, 0, 128);
}

img#preview {
	display: none;
}

.ctrl-center {
	margin-top: 1em;
}

.ctrl-btn {
	padding: 8px 12px;
	margin-right: 3.5px;
	background-color: rgb(125, 222, 255);
	border: none;
	border-radius: 5px;
}

.ctrl-btn:hover {
	background-color: rgb(125, 255, 157);
}